<h1 mat-dialog-title>Add New Question</h1>

<form (ngSubmit)="onSubmit(formGroup)" [formGroup]="formGroup">
  <div>
    <mat-form-field>
      <mat-label>Question Type</mat-label>
      <mat-select formControlName="questionType" (selectionChange)="questionTypeChanged()">
        <mat-option *ngFor="let type of questionTypes" [value]="type.value">
          {{type.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="w-100">
      <mat-label>Type question here</mat-label>
      <textarea matInput placeholder="Ex. Please tell us about yourself..." formControlName="question" ></textarea>
    </mat-form-field>
  </div>

  <div *ngIf="formGroup.get('questionType')?.value === 'checkbox'" class="checkbox-container">
    <p>Configure the Checkbox options here</p>

    <div formArrayName="options">
      <ng-container *ngFor="let heading of optionsForms.controls; let i = index" [formGroupName]="i">
        <div>
          <mat-form-field>
            <input matInput [placeholder]="'Checkbox option ' + (i + 1)" name="optionName" formControlName="optionName" required>
          </mat-form-field>
          <button *ngIf="i !== 0" mat-icon-button color="warn" type="button" (click)="removeOptionName(i)">
            <mat-icon aria-hidden="false" aria-label="Remove">clear</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>
    <button mat-stroked-button color="primary" type="button" (click)="addOptionName()">
      <mat-icon aria-hidden="false" aria-label="Remove">add</mat-icon>
      Add Option
    </button>
  </div>


  <div class="text-right">
    <button mat-button color="warn" type="button" (click)="close()" class="mr-2">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Add Question</button>
  </div>
</form>
