/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;   background: #ececec; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.ml-2 {
  margin-left: .5rem !important;
}

.mr-2 {
  margin-right: .5rem !important;
}

.mt-3 {
  margin-top: .75rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-3 {
  margin-bottom: .75rem !important;
}
